<mat-toolbar>
    <span class="title-center">Početna</span>
  </mat-toolbar>
  
  <div class="column" [routerLink]="['/status']">
    <div class="card">
      <div class="naslov">
        <h1>Status</h1>
      </div>
    </div>
  </div>
  
  <div class="column" [routerLink]="['/fakultet']">
    <div class="card">
      <div class="naslov">
        <h1>Fakultet</h1>
      </div>
      </div>
    </div>
  
  <div class="column" [routerLink]="['/departman']">
    <div class="card">
      <div class="naslov">
        <h1>Departman</h1>
      </div>
      </div>
    </div>
